.content{
    .container{
        padding: 40px 30px;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 18px;
        }
        button{
            padding: 10px 20px;
            background-color: #007afe;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            border-radius: 10px;
            margin: 10px 0;
        }
    }
}